/* 컨테이너 스타일 */
.head {
  position: relative;
  top: 126px;
  height: auto;
  padding: 10px 0;
  z-index: 999;
  display: flex;
  align-items: center;
  background-color: #fff; /* 헤더 배경색 추가로 겹침 방지 */
}

/* 아이콘 스타일 */
.headIcon {
  width: 45px;
  height: 45px;
  object-fit: cover;
  opacity: 0.71;
  margin-right: 20px;
  background: url('/images/head_icon.png');
}

/* 텍스트 스타일 */
.headTxt {
  font-size: 50px;
  font-family: Inter, sans-serif;
  color: #000;
  text-align: left;
  opacity: 0.71;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 라인 스타일 */
.headLine {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 100%;
  opacity: 0.71;
}

/* 반응형 스타일 */
/* 큰 화면 (기본 값) */
@media (min-width: 1200px) {
  .headTxt {
    font-size: 50px;
  }

  .headIcon {
    width: 45px;
    height: 45px;
  }
}

/* 중간 화면 (태블릿) */
@media (max-width: 1199px) and (min-width: 768px) {
  .head {
    top: 100px;
    left: 0;
    width: 100%;
    padding: 10px 20px;
  }

  .headTxt {
    font-size: 40px;
    white-space: normal;
  }

  .headIcon {
    width: 40px;
    height: 40px;
  }
}

/* 작은 화면 (모바일) */
@media (max-width: 767px) {
  .head {
    top: 80px;
    left: 0;
    width: 100%;
    padding: 10px;
  }

  .headTxt {
    font-size: 30px;
    white-space: normal;
  }

  .headIcon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .headLine {
    width: 100%;
  }
}
