body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    height: 100%;
    overflow: auto; /* Prevent body overflow */
    white-space: nowrap; /* 텍스트나 콘텐츠가 한 줄로 나가도록 설정 */
}

.FindPwdContainer {
    height: 100vh; /* 화면 전체 높이 */
    background: url("/images/Login_background.png");
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    background-size: cover; /* 배경 이미지를 전체 영역에 맞춤 */
    background-position: center; /* 이미지 중앙 정렬 */
}

.FindPwdForm {
    position: absolute;
    margin: 50px auto;
    width: 500px;
    height: 400px;
    overflow: hidden;
    top: 47%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.emailInput {
    position: relative;
    width: 70%;
    /* 모양 */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border : none;
    background-color: #fff;
    border-bottom: 1px solid #a7a6a6;
    box-sizing: border-box;
    /* 위치 */
    height: 50px;
    top: 30px;
}

.numInput {
    position: relative;
    width: 70%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border : none;
    background-color: #fff;
    border-bottom: 1px solid #a7a6a6;
    box-sizing: border-box;
    height: 50px;
    top: 60px;
}

.title{
/*    text-align: center; *//* 가운데 정렬 */
    margin-left : 80px;
    font-size: 30px;
    font-weight: 600;
}
.emailTxt {
    position: relative;
    color : #828282;
    top: 25px;
    font-weight: 600;
}

.numTxt {
    position: relative;
    color : #828282;
    top: 55px;
    font-weight: 600;
}

.form {
    width:100%;
    display: flex;
    align-items: center;
}

.keyBtn {
    /* 위치 */
    position: relative;
    top: 30px;
    margin-left: 20px;
    /* 모양 */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #000;
    border-radius: 7px;
    border-bottom: 1px solid #a7a6a6;
    box-sizing: border-box;

    width: 130px;
    height: 50px;
    /* 글씨 가운데 정렬 */
    color : #fff;
    display: flex;
    justify-content : center;
    align-items : center;
    /* 커서 */
    cursor: pointer;
}

.submitBtn {
    /* 위치 */
    position: relative;
    top: 100px;
    /* 모양 */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #000;
    border-radius: 7px;
    border-bottom: 1px solid #a7a6a6;
    box-sizing: border-box;
    width: 70%;
    height: 50px;
    /* 글씨 가운데 정렬 */
    color : #fff;
    display: flex;
    justify-content : center;
    align-items : center;
    /* 커서 */
    cursor: pointer;
}


.responseMessage {
    position: absolute; /* FindPwdForm을 기준으로 위치 조정 */
    top: calc(50% + 250px); /* FindPwdForm의 아래로 배치 (높이 + 간격 포함) */
    left: calc(50% - 30px); /* 수평 중앙 */
    transform: translate(-50%, -50%); /* 수평 중앙 보정 */
    width: 100%;
    font-weight: 600; /* 두께 */
    text-align: center; /* 텍스트 가운데 정렬 */
}