.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* 배경 색상 제거 */
  pointer-events: none; /* 로딩 중 클릭 방지 */
  gap: 20px;
}

.icon {
  color: #007bff;
}

.progressBarContainer {
  width: 80%;
  height: 10px;
  background-color: rgba(221, 221, 221, 0.5); /* 투명한 배경색 */
  border-radius: 5px;
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background-color: rgba(0, 123, 255, 0.8); /* 투명도 있는 파란색 */
  border-radius: 5px;
}

.text {
  font-size: 1rem;
  color: #555;
  opacity: 0.8; /* 투명도 추가 */
}
