:root {
  /* RADII */
  --button-radius: 0.7rem;

  /* SIZES */
  --max-width: 950px;
  --max-height: 600px;

}

.background {
  background: url("/images/Login_background.png");
  background-repeat: no-repeat; /* 이미지 반복 방지 */
  background-size: cover; /* 배경 이미지를 전체 영역에 맞춤 */
  background-position: center; /* 이미지 중앙 정렬 */
  display: flex;
  background-color: #a2b3b1;
  height: 100vh; /* 화면 전체 높이 */
  overflow: hidden;
  text-align: left;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.form__title {
  display: inline-block;
  width: 120px;
  height: auto;
  margin: 0;
  margin-right: 1.26rem;
  margin-bottom: 0.1rem;
}

.link {
  color: #a2b3b1;
  font-size: 0.9rem;
  margin: 1.5rem 0;
  text-decoration: underline;
}

.container {
  background-color: var(--white);
  border-radius: var(--button-radius);
  box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
    0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
  height: var(--max-height);
  max-width: var(--max-width);
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 50%; /* 세로 중앙 정렬 */
  left: 50%; /* 가로 중앙 정렬 */
  transform: translate(-50%, -50%); /* 정확히 가운데로 이동 */
}

.container__form {
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.6s ease-in-out;
}

.container--signin {
  left: 20;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .container--signin {
  transform: translateX(100%);
}

.container--signup {
  left: 0;
  opacity: 0;
  width: 50%;
  z-index: 1;
}

.container.right-panel-active .container--signup {
  animation: show 0.6s;
  opacity: 1;
  transform: translateX(100%);
  z-index: 5;
}

.container__overlay {
  height: 100%;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: transform 0.6s ease-in-out;
  width: 50%;
  z-index: 100;
}

.container.right-panel-active .container__overlay {
  transform: translateX(-100%);
}

.overlay {
  background-color: var(--lightblue);
  background: url("/images/sign_in_background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  left: -100%;
  position: relative;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  width: 200%;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay__panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  width: 50%;
}

.overlay--left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay--left {
  transform: translateX(0);
}

.overlay--right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay--right {
  transform: translateX(20%);
}

.btn {
  /* 색상 */
  background-color: var(--blue);
  background-image: linear-gradient(90deg, #848F8E 0%, var(--lightblue) 74%);
  border-radius: 13px;
  border: none; /* 테두리 */
  color: var(--white);
  cursor: pointer;  /* 커서 */
   /* 글씨 */
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 0.9rem 4rem;
  transition: transform 80ms ease-in;
}

.form > .btn {
  margin-top: 1.5rem;
}

.checkbtn:hover,
.btn:hover {
    transform: scale(1.05); /* Hover 시 확대 효과 */
}

.checkbtn:active,
.btn:active {
    transform: scale(0.95); /* 클릭 시 축소 효과 */
}

.form {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 3rem;
  height: 100%;
  text-align: center;
}

.input {
  background-color: #fff;
  border: none;
  padding: 0.9rem 0.9rem;
  margin: 0.5rem 0;
  width: 60%;
}

.select {
  background-color: #fff;
  border: none;
  padding: 0.9rem 0.9rem;
  margin: 0.5rem 0;
  width: 68%;
  color: #757575;
}

.dup{
  width: 100%;
  margin-left: 94px;
}

.checkbtn {
    width: 80px;
    height: 50px;
    /* 모양 */
    background-color: var(--blue);
    background-image: linear-gradient(90deg, #848F8E 0%, var(--lightblue) 74%);
    border-radius: 13px;
    color: var(--white);
    border: none; /* 테두리 */
    cursor: pointer;  /* 커서 */
    /* 글씨 가운데 정렬 */
    margin-left: 15px;
    color: #fff;
    justify-content : center;
    align-items : center;
    /* 움직임 */
    transition: transform 80ms ease-in;
}

.testloginbtn {
  background-color: transparent; /* 배경을 투명으로 설정 */
  width: 130px;
  font-size: 14px;
  display: flex; /* 플렉스 컨테이너로 변경하여 가운데 정렬 적용 */
  color: var(--blue);
  text-align: center;
  margin-top: 15px;
  border: none; /* 테두리 제거 */
  cursor: pointer;
  border-radius: 10px;
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
  transition: transform 80ms ease-in;
  border-bottom: 1px solid var(--blue); /* 하단에 밑 줄 추가 */
}



/* 이용 약관 폼 */
.Agreebox {
    width: 100%;
    height: 70%;
}

.termsBox h3{
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    margin-top: 0;
}

.box {
  width: 100%; /* 원하는 크기로 설정 */
  height: 130px; /* 원하는 높이 설정 */
  font-size: 10px;
  border: 1px solid #eee; /* 테두리 추가 */
  overflow-y: auto; /* 내용이 넘칠 경우 수직 스크롤 생성 */
  word-break: break-word; /* 긴 단어도 자동 줄바꿈 */
  white-space: pre-line; /* 개행 문자 적용 */
  background: white;
  border-radius: 8px;
}

.ul {
  padding: 2px 0px 5px 20px;
  text-align: left; /* 리스트 항목 왼쪽 정렬 */
}

.ul li {
  text-align: left; /* 개별 리스트 요소 왼쪽 정렬 */
  margin: 12px;
}


.agreement {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.agreement input {
  margin-left: 5px; /* input과 간격 조정 */
}

.agreement label{
  font-size: 10px;
  margin-bottom: 20px; /* input과 간격 조정 */
}


@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
