.userTableHeaderChild,
.userlistChild {
    align-self: stretch;
    position: relative;
    display: none;
}
.userlistChild {
    height: 730px;
    background-color: var(--color-gainsboro-100);
}
.userTableHeaderChild {
    width: 1506px;
    background-color: var(--color-darkslategray);
    border: 1px solid var(--color-darkgray-200);
    box-sizing: border-box;
    flex-shrink: 0;
}
.eMail {
    position: relative;
    z-index: 2;
}
.nameHeader,
.nameHeaderChild {
    width: 364px;
    border: 1px solid var(--color-darkgray-200);
    box-sizing: border-box;
}
.nameHeaderChild {
    height: 84px;
    position: relative;
    display: none;
    max-width: 100%;
}
.nameHeader {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xl) var(--padding-125xl);
    max-width: calc(100% - 1081px);
    z-index: 3;
}
.nameHeader1,
.nameHeaderItem {
    width: 224px;
    border-top: 1px solid var(--color-darkgray-200);
    border-right: 1px solid var(--color-darkgray-200);
    border-bottom: 1px solid var(--color-darkgray-200);
    box-sizing: border-box;
}
.nameHeaderItem {
    height: 84px;
    position: relative;
    display: none;
}
.nameHeader1 {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-9xl) var(--padding-xl) var(--padding-8xl)
    var(--padding-5xl);
    z-index: 3;
}
.departmentHeaderLabelsChild {
    height: 84px;
    width: 187px;
    position: relative;
    display: none;
}
.departmentHeaderLabels,
.departmentHeaderLabelsChild,
.departmentHeaderLabelsItem {
    border-top: 1px solid var(--color-darkgray-200);
    border-right: 1px solid var(--color-darkgray-200);
    border-bottom: 1px solid var(--color-darkgray-200);
    box-sizing: border-box;
}
.departmentHeaderLabels {
    width: 187px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xl) var(--padding-14xl);
    z-index: 3;
}
.departmentHeaderLabelsItem {
    height: 84px;
    width: 201px;
    position: relative;
    display: none;
}
.departmentHeader,
.departmentHeaderLabels1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.departmentHeaderLabels1 {
    height: 84px;
    border-top: 1px solid var(--color-darkgray-200);
    border-right: 1px solid var(--color-darkgray-200);
    border-bottom: 1px solid var(--color-darkgray-200);
    box-sizing: border-box;
    justify-content: flex-start;
    padding: var(--padding-9xl) var(--padding-22xl);
    z-index: 4;
    margin-left: -2px;
    position: relative;
}
.departmentHeader {
    justify-content: center;
    row-gap: var(--gap-xl);
}
.dateHeaderLabel,
.dateHeaderLabelChild {
    border-top: 1px solid var(--color-darkgray-200);
    border-right: 1px solid var(--color-darkgray-200);
    border-bottom: 1px solid var(--color-darkgray-200);
}
.dateHeaderLabelChild {
    height: 84px;
    width: 312px;
    position: relative;
    box-sizing: border-box;
    display: none;
}
.dateHeaderLabel {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-9xl) var(--padding-97xl) var(--padding-9xl)
    var(--padding-98xl);
    z-index: 5;
}
.dateHeader {
    height: 84px;
    width: 361px;
    flex-shrink: 0;
    flex-direction: column;
}
.dateHeader,
.permissionHeader,
.userTableHeader {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.permissionHeader {
    flex-direction: column;
    padding: var(--padding-11xl) 0 0;
}
.userTableHeader {
    align-self: stretch;
    background-color: var(--color-darkslategray);
    border: 1px solid var(--color-darkgray-200);
    box-sizing: border-box;
    overflow-x: auto;
    flex-direction: row;
    max-width: 100%;
    z-index: 1;
}
.userTableRowOneData,
.userTableRowOneData1,
.userTableRowTwoData,
.userTableRowTwoData1 {
    height: 72px;
    position: relative;
    border-right: 1px solid var(--color-darkgray-200);
    border-bottom: 1px solid var(--color-darkgray-200);
    box-sizing: border-box;
}
.userTableRowOneData {
    width: 364px;
    border-left: 1px solid var(--color-darkgray-200);
    max-width: 100%;
}
.userTableRowOneData1,
.userTableRowTwoData,
.userTableRowTwoData1 {
    width: 224px;
}
.userTableRowTwoData,
.userTableRowTwoData1 {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    width: 187px;
}
.userTableRowTwoData1 {
    left: 185px;
    width: 201px;
    z-index: 1;
}
.jurisdictionRow {
    height: 72px;
    flex: 1;
    position: relative;
    min-width: 251px;
    max-width: 100%;
}
.userTableRowOneData2,
.userTableRowOneData3 {
    height: 72px;
    width: 312px;
    position: relative;
    border-right: 1px solid var(--color-darkgray-200);
    border-bottom: 1px solid var(--color-darkgray-200);
    box-sizing: border-box;
}
.userTableRowOneData3 {
    width: 220px;
}
.userTableRowOneDataParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: var(--gap-xl);
    max-width: 100%;
    z-index: 6;
}
.userTableData {
    left: 0;
    background-color: var(--color-whitesmoke-100);
    border-left: 1px solid var(--color-darkgray-200);
    width: 364px;
    height: 72px;
}
.userTableData,
.userTableData1,
.userTableData2 {
    position: absolute;
    top: 0;
    border-right: 1px solid var(--color-darkgray-200);
    border-bottom: 1px solid var(--color-darkgray-200);
    box-sizing: border-box;
}
.userTableData1 {
    left: 364px;
    background-color: var(--color-whitesmoke-100);
    width: 224px;
    height: 72px;
}
.userTableData2 {
    left: 588px;
    width: 187px;
}
.userTableData2,
.userTableData3,
.userTableData4 {
    background-color: var(--color-whitesmoke-100);
    height: 72px;
}
.userTableData3 {
    position: absolute;
    top: 0;
    left: 775px;
    border-right: 1px solid var(--color-darkgray-200);
    border-bottom: 1px solid var(--color-darkgray-200);
    box-sizing: border-box;
    width: 199px;
}
.userTableData4 {
    left: 974px;
    width: 312px;
}
.userTableData4,
.userTableData5,
.userTableRowFour,
.userTableRowThree {
    position: absolute;
    top: 0;
    border-right: 1px solid var(--color-darkgray-200);
    border-bottom: 1px solid var(--color-darkgray-200);
    box-sizing: border-box;
}
.userTableData5 {
    left: 1286px;
    background-color: var(--color-whitesmoke-100);
    width: 220px;
    height: 72px;
}
.userTableRowFour,
.userTableRowThree {
    height: 100%;
    bottom: 0;
}
.userTableRowThree {
    left: 0;
    border-left: 1px solid var(--color-darkgray-200);
    width: 364px;
}
.userTableRowFour {
    left: 364px;
    width: 224px;
}
.userTableRowFive {
    left: 588px;
    width: 187px;
}
.userTableRowEight,
.userTableRowFive,
.userTableRowSeven,
.userTableRowSix {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    border-right: 1px solid var(--color-darkgray-200);
    border-bottom: 1px solid var(--color-darkgray-200);
    box-sizing: border-box;
}
.userTableRowSix {
    left: 773px;
    width: 201px;
    z-index: 1;
}
.userTableRowEight,
.userTableRowSeven {
    left: 974px;
    width: 312px;
}
.userTableRowEight {
    left: 1286px;
    width: 220px;
}
.userTableRowThreeParent {
    position: absolute;
    top: 72px;
    left: 0;
    width: 1506px;
    height: 72px;
}
.userTableData10,
.userTableData11,
.userTableData6,
.userTableData7,
.userTableData8,
.userTableData9 {
    position: absolute;
    top: 144px;
    background-color: var(--color-whitesmoke-100);
    border-right: 1px solid var(--color-darkgray-200);
    border-bottom: 1px solid var(--color-darkgray-200);
    box-sizing: border-box;
    height: 72px;
}
.userTableData6 {
    left: 0;
    border-left: 1px solid var(--color-darkgray-200);
    width: 364px;
}
.userTableData10,
.userTableData11,
.userTableData7,
.userTableData8,
.userTableData9 {
    left: 364px;
    width: 224px;
}
.userTableData10,
.userTableData11,
.userTableData8,
.userTableData9 {
    left: 588px;
    width: 187px;
}
.userTableData10,
.userTableData11,
.userTableData9 {
    left: 775px;
    width: 199px;
}
.userTableData10,
.userTableData11 {
    left: 974px;
    width: 312px;
    z-index: 2;
}
.userTableData11 {
    left: 1286px;
    width: 220px;
    z-index: 3;
}
.rectangleParent {
    position: absolute;
    top: 216px;
    left: 0;
    width: 1506px;
    height: 72px;
    z-index: 4;
}
.userTableData12,
.userTableData13,
.userTableData14,
.userTableData15,
.userTableData16,
.userTableData17 {
    position: absolute;
    top: 288px;
    background-color: var(--color-whitesmoke-100);
    border-right: 1px solid var(--color-darkgray-200);
    border-bottom: 1px solid var(--color-darkgray-200);
    box-sizing: border-box;
    height: 72px;
}
.userTableData12 {
    left: 0;
    border-left: 1px solid var(--color-darkgray-200);
    width: 364px;
    z-index: 5;
}
.userTableData13,
.userTableData14,
.userTableData15,
.userTableData16,
.userTableData17 {
    left: 364px;
    width: 224px;
    z-index: 6;
}
.userTableData14,
.userTableData15,
.userTableData16,
.userTableData17 {
    left: 588px;
    width: 187px;
    z-index: 7;
}
.userTableData15,
.userTableData16,
.userTableData17 {
    left: 775px;
    width: 199px;
    z-index: 8;
}
.userTableData16,
.userTableData17 {
    left: 974px;
    width: 312px;
    z-index: 9;
}
.userTableData17 {
    left: 1286px;
    width: 220px;
    z-index: 10;
}
.rectangleGroup {
    position: absolute;
    top: 360px;
    left: 0;
    width: 1506px;
    height: 72px;
    z-index: 11;
}
.userTableData18,
.userTableData19,
.userTableData20,
.userTableData21,
.userTableData22,
.userTableData23 {
    position: absolute;
    top: 432px;
    background-color: var(--color-whitesmoke-100);
    border-right: 1px solid var(--color-darkgray-200);
    border-bottom: 1px solid var(--color-darkgray-200);
    box-sizing: border-box;
    height: 72px;
}
.userTableData18 {
    left: 0;
    border-left: 1px solid var(--color-darkgray-200);
    width: 364px;
    z-index: 12;
}
.userTableData19,
.userTableData20,
.userTableData21,
.userTableData22,
.userTableData23 {
    left: 364px;
    width: 224px;
    z-index: 13;
}
.userTableData20,
.userTableData21,
.userTableData22,
.userTableData23 {
    left: 588px;
    width: 187px;
    z-index: 14;
}
.userTableData21,
.userTableData22,
.userTableData23 {
    left: 775px;
    width: 199px;
    z-index: 15;
}
.userTableData22,
.userTableData23 {
    left: 974px;
    width: 312px;
    z-index: 16;
}
.userTableData23 {
    left: 1286px;
    width: 220px;
    z-index: 17;
}
.rectangleContainer {
    position: absolute;
    top: 502px;
    left: 0;
    width: 1506px;
    height: 72px;
    z-index: 18;
}
.userTableDataParent {
    align-self: stretch;
    height: 574px;
    position: relative;
    z-index: 7;
}
.userlist {
    align-self: stretch;
    background-color: var(--color-gainsboro-100);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-whitesmoke-200);
    font-family: var(--font-inter);
}
@media screen and (max-width: 1350px) {
    .userTableRowOneDataParent {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 450px) {
    .eMail {
        font-size: var(--font-size-base);
    }
    .nameHeader {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }
    .departmentHeaderLabels1 {
        margin-left: 0;
    }
    .departmentHeader {
        flex-wrap: wrap;
    }
    .dateHeaderLabel {
        padding-left: var(--padding-xl);
        padding-right: var(--padding-xl);
        box-sizing: border-box;
    }
}
