:root {
  --item-height: 60px; /* 기본 아이템 높이 */
  --item-margin: 20px; /* 기본 아이템 간격 */
}

.leftNavi {
  position: fixed;
  top: 80px;
  left: 0;
  width: 270px;
  height: calc(100% - 93px);
  background: linear-gradient(180deg, #687580, #B2B2B2);
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  overflow: auto;
  z-index: 1000;
}

.menuItems,
.bottomNavContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomNavContainer {
  margin-top: auto;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  height: var(--item-height);
  cursor: pointer;
  padding: 0 15px;
  margin-bottom: var(--item-margin);
  transition: background-color 0.3s ease, transform 0.3s ease; /* 추가된 애니메이션 */
}

.navItem:last-child {
  margin-bottom: 0;
}

.navItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.02); /* 호버 시 크기 증가 */
}

.navItem img {
  width: 28px;
  height: 28px;
  margin-left: 30px;
  margin-right: 15px;
  object-fit: contain;
}

.navItem b {
  font-size: 16px;
  color: #fff;
  font-weight: normal;
}

.navItem.active b {
  font-weight: bold;
  color: #ffdd57;
}

.selector1Icon {
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--item-height);
  background-color: rgba(255, 255, 255, 0.1);
  z-index: -1;
  transition: top 0.3s ease;
}

.selector2 {
  position: absolute;
  left: 260px;
  width: 10px;
  height: var(--item-height);
  background-color: rgba(221, 221, 221, 0.81);
  z-index: 1;
  transition: top 0.3s ease;
}

@media (max-width: 1024px) {
  :root {
    --item-height: 55px;
    --item-margin: 18px;
  }

  .leftNavi {
    width: 220px;
  }

  .navItem img {
    width: 26px;
    height: 26px;
  }

  .navItem b {
    font-size: 15px;
  }
  .selector2 {
    left: 210px; /* 메뉴 너비에 맞춤 */
  }
}

@media (max-width: 768px) {
  :root {
    --item-height: 50px;
    --item-margin: 15px;
  }

  .leftNavi {
    width: 180px;
  }

  .navItem img {
    width: 24px;
    height: 24px;
  }

  .navItem b {
    font-size: 14px;
  }

  .selector2 {
    left: 170px; /* 메뉴 너비에 맞춤 */
  }
}

@media (max-width: 480px) {
  :root {
    --item-height: 40px;
    --item-margin: 10px;
  }

  .leftNavi {
    width: 180px;
  }

  .navItem img {
    width: 20px;
    height: 20px;
  }

  .navItem b {
    font-size: 12px;
  }

  .selector2 {
    left: 170px; /* 메뉴 너비에 맞춤 */
  }
}

.topNavi {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #687580;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 0 20px;
}

.topNaviBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 93px;
  background: rgba(66, 83, 96, 0.8);
  z-index: -1;
}

.Toplogo {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 40px;
}

.logoTxt {
  width: 125px;
  height: auto;
  z-index: 2;
}
