.title {
  	position: absolute;
  	top: 182px;
  	left: 549px;
  	font-size: 30px;
  	font-weight: 900;
}
.emailInput {
  	position: absolute;
  	top: 35px;
  	left: 0px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 2px;
  	background-color: #fff;
  	border-bottom: 1px solid #969696;
  	box-sizing: border-box;
  	width: 341px;
  	height: 50px;
}
.pwdInput {
  	position: absolute;
  	top: 134px;
  	left: 0px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 2px;
  	background-color: #fff;
  	border-bottom: 1px solid #a7a6a6;
  	box-sizing: border-box;
  	width: 341px;
  	height: 50px;
}
.emailTxt {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	font-weight: 600;
}
.pwdTxt {
  	position: absolute;
  	top: 96px;
  	left: 0px;
  	font-weight: 600;
}
.jurisdictionInput {
  	position: absolute;
  	top: 332px;
  	left: 0px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 2px;
  	background-color: #fff;
  	border-bottom: 1px solid #a7a6a6;
  	box-sizing: border-box;
  	width: 341px;
  	height: 50px;
}
.jurisdictionTxt {
  	position: absolute;
  	top: 294px;
  	left: 0px;
  	font-weight: 600;
}
.signupFormChild {
  	position: absolute;
  	top: 428px;
  	left: 0px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 2px;
  	background-color: #fff;
  	border-bottom: 1px solid #a7a6a6;
  	box-sizing: border-box;
  	width: 341px;
  	height: 50px;
}
.pwdcheckInput {
  	position: absolute;
  	top: 233px;
  	left: 0px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 2px;
  	background-color: #fff;
  	border-bottom: 1px solid #a7a6a6;
  	box-sizing: border-box;
  	width: 341px;
  	height: 50px;
}
.departmentTxt {
  	position: absolute;
  	top: 393px;
  	left: 0px;
  	font-weight: 600;
}
.pwdcheckTxt {
  	position: absolute;
  	top: 195px;
  	left: 0px;
  	font-weight: 600;
}
.signupForm {
  	position: absolute;
  	top: 255px;
  	left: 549px;
  	width: 341px;
  	height: 478px;
}
.confrimForm {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 2px;
  	background-color: #909090;
  	border-bottom: 1px solid #a7a6a6;
  	box-sizing: border-box;
  	width: 341px;
  	height: 50px;
}
.confrimTxt {
  	position: absolute;
  	top: 13px;
  	left: 132px;
  	font-weight: 600;
}
.submitBtn {
  	position: absolute;
  	top: 776px;
  	left: 549px;
  	width: 341px;
  	height: 50px;
  	color: #fff;
}
.checkFrom {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 2px;
  	background-color: #909090;
  	border-bottom: 1px solid #a7a6a6;
  	box-sizing: border-box;
  	width: 131px;
  	height: 50px;
}
.checkTxt {
  	position: absolute;
  	top: 13px;
  	left: 29px;
  	font-weight: 600;
}
.checkBtn {
  	position: absolute;
  	top: 290px;
  	left: 928px;
  	width: 131px;
  	height: 50px;
  	color: #fff;
}
.signup {
  	width: 100%;
  	position: relative;
  	background-color: #fff;
  	height: 1024px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 20px;
  	color: #000;
  	font-family: Inter;
}

