/* 모든 @import 규칙을 파일의 최상단으로 이동 */
@import url('https://fonts.googleapis.com/css2?family=Stylish:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');

/* 기본 스타일 */
body {
  margin: 0;
  line-height: normal;
  font-family: 'Inter', sans-serif;
}
:root {
  /* Fonts */
  --font-inter: Inter;
  --font-stylish: Stylish;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-black: #000;
  --color-darkgray-100: #aaa;
  --color-darkgray-200: #9a9aa2;
  --color-darkslategray-100: #4b4b4b;
  --color-gainsboro-100: rgba(221, 221, 221, 0.81);
  --color-steelblue: #346da2;
  --color-white: #fff;
  --color-whitesmoke-100: #f8f8f8;
  --color-whitesmoke-200: #f4f4f4;
  --color-whitesmoke-300: #f1f1f1;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-5xs: 8px;
}
